body {
    background: #e5d9f2; 
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
}


.circle {
    border-radius: 50%;
    position: absolute;
    width: 2000px;
    height: 2000px;
    opacity: 0.3;
}


#one {
    background-color: #6028b8;
    width: 400px;
    height: 400px;
    top: -200px;
    left: -200px;
    z-index: -3;
}


#two {
    background-color: #684fb3;
    width: 300px;
    height: 300px;
    top: -150px;
    left: -150px;
    z-index: -2;
}


#three {
    background-color: #8d5fca;
    width: 200px;
    height: 200px;
    top: -100px;
    left: -100px;
    z-index: -1;
}